{% extends 'logapps/base.html'%}

{% load static %}

{% block css_additional %}
<link rel="stylesheet" href=" {% static 'logapps/css/index.css' %}">
{%endblock%}

{% block title %}
{{title}}
{% endblock %}

{% block content %}
    <h1> Актуальные грузы </h1>
    {% if loads%}
        {% for loads  in page_obj %}
            <div class = "alert alert-success mt-2">
                <h3>{{loads.title}}</h3>
                <p>{{loads.price}}</p>
                <p>{{loads.author}}</p>
                <p>{{loads.date_posted}}</p>
                <a href="{% url 'post-delete' loads.id%}" class="btn btn-danger">удалить</a>
            </div>
        {% endfor %}
    {% else %}
        <p> На данный момент грузов нет! <p>
    {% endif %}


    <nav class = "list-pages">
        <ul>
            {% for p in page_obj.paginator.page_range %}
            <li class = "icon">
                <a href="?page={{ p }}">{{ p }}</a>
                <span class="fas fa-angel-right"></span>
            </li>
            {% endfor %}
        </ul>
    </nav>

{% endblock %}
